{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>{{ flatpage.title }}</h2>
    <hr>
    <h3>НОВОСТИ</h3>
    <i>{{ flatpage.content }} </i>
    <br>
    <p>здесь будет выгрузка из базы данных</p>

    {% for post in filter.qs %} 
        <a href="{% url 'post_detail' post.id %}">{{ post.id }}</a>
        <a href="{% url 'product_update' product.id %}"><u>Редактировать</u></a>    
    {% endfor %}
{% endblock content %}